$media: screen;
$feature: -webkit-min-device-pixel-ratio;
$value: 1.5;

@media #{$media} and ($feature: $value) {
  .sidebar {
    width: 500px;
  }
}
//layout

body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  font-family: "Gilroy, sans-serif";
  text-align: center;
  @media #{$media} and ($feature: $value) {
    width:100%;
    
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 77%;
}

//text

h1, h2 {
  font-family: "GilroyBold, sans-serif";
  font-weight: 100;
}
h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin: 0;
}
h2 {
  font-size: 1.8em;
}
p {
  line-height: 1.3em;
}
a {
  color: #070707;
}
hr {
  @media #{$media} and ($feature: $value) {
    display:none;
  }
}

//elements of the page

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 2em;
  @media #{$media} and ($feature: $value) {
    display:none;
  }
  a {
    
    text-decoration: none;
    color: #828282;
    
    &:first-child {
      color: #070707;
    }
    &:hover {
      color: #070707;
    }
  
  }
}


header {
  margin-bottom: 5em;
  
  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  
    
    @media #{$media} and ($feature: $value) {  
      align-items: flex-start;
      flex-direction: column;
    }

    p {
      text-align: start;
      margin-bottom: 1.7em;
      }
  }

    img {
      width: 70em;
      height: 30em;
      object-fit: cover;
      object-position: top;

      @media #{$media} and ($feature: $value) { 
        width: 20em;
        
      }

    }

    h1 {
      margin-bottom:0.5em
    }
}

section { 
  padding-top: 4em;
  padding-bottom: 4em;

  @media #{$media} and ($feature: $value) { 
      padding-top: 2em;
      padding-bottom: 2em;

      a {
        font-size: 1.2em;
      }
    }
}

// mobile burger-menu
.nav-mobile {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.menu__btn {
  position: absolute;
  z-index:10;
    width: 2.2em;
    height: auto;
    right: 2em;
    top: 1.4em;
  background-color:red;
  &::before {
    content:url(./img/menu.png)
  }
  &::after {
    content:url(./img/menu-x.png)
  }
}

#menu__toggle {
  opacity: 0;
  
	&:checked {
		& ~ label.menu__btn {
      
			// & > span {
      //   cursor:pointer;
			// 	transform: rotate(45deg);
			// 	&::before {
      //     cursor:pointer;
			// 		top: 0;
			// 		transform: rotate(0);
			// 	}
			// 	&::after {
      //     content: url(style/img/menu-x.png);
      //     cursor:pointer;
			// 		top: 0;
			// 		transform: rotate(90deg);
			// 	}
			// }
		}
		& ~ .menu__box {
			visibility: visible;
			
      
		}
	}
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
#menu__toggle{
  &:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
}
// .menu__btn {
//   display: flex;
//   align-items: center;
//   position: fixed;
//   top: 20px;
//   left: 20px;

//   width: 26px;
//   height: 26px;

//   cursor: pointer;
//   z-index: 1;
// }

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0.01em;
 
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;
  transition-duration: .25s;

  &:hover {
    background-color: #CFD8DC;
  }
}



//sections with #id

#about {
  background-color: #f6f6f6;

  p {
    margin-bottom: 2em;
  }
}

#skills {
  h2 {
    margin-bottom: 2em;

    @media #{$media} and ($feature: $value) { 
      margin-bottom: 1em;
    }
  }

  .program-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 4em;

    @media #{$media} and ($feature: $value) { 
        flex-direction: column;
        align-items: center;
        margin-top:2em;
      }

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;

    @media #{$media} and ($feature: $value) { 
        margin-bottom: 3em;
      }
      
      img {

        &:first-of-type {
          max-width: 5em;
        }
      }

      figcaption {
        font-size: 0.8em;
        color: #828282;
        margin-top: 1.5em;
        margin-bottom: 3em;
        
        @media #{$media} and ($feature: $value) { 
        margin-bottom: 2em;
      }
      }
    }
  }
}

#portfolio {
  padding-bottom: 6em;
  background-color: #f6f6f6;
  
  figure {
    margin: 0 auto;
    margin-top: 7em;
    &:first-of-type{
      margin-top: 3.5em;
    }

    @media #{$media} and ($feature: $value) { 
      margin-top: 4em;
    }

   img {
    margin-bottom: 2.5em;

    @media #{$media} and ($feature: $value) { 
        width: 21em;        
      }
   }
  }  
}

footer {
  padding-bottom: 8em;

  @media #{$media} and ($feature: $value) { 
     padding-bottom: 4em;
    }

  .button {
    background-color: #070707;
    width: 11em;
    padding: 0.8em 0em;
    border-radius: 1.6em;
    color: #f6f6f6;
    font-weight: 600;
    border: none;
    margin-top: 1em;
    cursor: pointer;
    
    @media #{$media} and ($feature: $value) { 
     width: 23em;
    }
  }
  .app-icons {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 29em;
    @media #{$media} and ($feature: $value) { 
      justify-content: space-between;
      margin-top: 0.5em;
    }
  }
  .comment {
    margin-top: 3em;
    font-size: 0.8em;
    color: #828282;

    @media #{$media} and ($feature: $value) { 
     margin-top: 2em;
      font-size: 1em;
    }
  }
}

@font-face {
  // название шрифта
  font-family: "Gilroy, sans-serif"; 
  // расположение и тип 
  src: url("./font/gilroy-medium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 
@font-face {
  font-family: "GilroyBold, sans-serif"; 
  src: url("./font/gilroy-bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 