@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sidebar {
    width: 500px;
  }
}
body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  font-family: "Gilroy, sans-serif";
  text-align: center;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    width: 100%;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 77%;
}

h1, h2 {
  font-family: "GilroyBold, sans-serif";
  font-weight: 100;
}

h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
}

p {
  line-height: 1.3em;
}

a {
  color: #070707;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  hr {
    display: none;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 2em;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  nav {
    display: none;
  }
}
nav a {
  text-decoration: none;
  color: #828282;
}
nav a:first-child {
  color: #070707;
}
nav a:hover {
  color: #070707;
}

header {
  margin-bottom: 5em;
}
header .introduction {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  header .introduction {
    align-items: flex-start;
    flex-direction: column;
  }
}
header .introduction p {
  text-align: start;
  margin-bottom: 1.7em;
}
header img {
  width: 70em;
  height: 30em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
header h1 {
  margin-bottom: 0.5em;
}

section {
  padding-top: 4em;
  padding-bottom: 4em;
}

.nav-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 2em;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#about {
  background-color: #f6f6f6;
}
#about p {
  margin-bottom: 2em;
}

#skills h2 {
  margin-bottom: 2em;
}
#skills .program-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 4em;
}
#skills .program-icons figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skills .program-icons figure img:first-of-type {
  max-width: 5em;
}
#skills .program-icons figure figcaption {
  font-size: 0.8em;
  color: #828282;
  margin-top: 1.5em;
  margin-bottom: 3em;
}

#portfolio {
  padding-bottom: 6em;
  background-color: #f6f6f6;
}
#portfolio figure {
  margin: 0 auto;
  margin-top: 7em;
}
#portfolio figure:first-of-type {
  margin-top: 3.5em;
}
#portfolio figure img {
  margin-bottom: 2.5em;
}

footer {
  padding-bottom: 8em;
}
footer .button {
  background-color: #070707;
  width: 11em;
  padding: 0.8em 0em;
  border-radius: 1.6em;
  color: #f6f6f6;
  font-weight: 600;
  border: none;
  margin-top: 1em;
  cursor: pointer;
}
footer .app-icons {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 29em;
}
footer .comment {
  margin-top: 3em;
  font-size: 0.8em;
  color: #828282;
}

@font-face {
  font-family: "Gilroy, sans-serif";
  src: url("./font/gilroy-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GilroyBold, sans-serif";
  src: url("./font/gilroy-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}/*# sourceMappingURL=index.css.map */